<div class="scoreboard">
    <div class="score-item">
      <span class="label">Player:</span>
      <span class="value">{{ playerName() }}</span>
    </div>
    <div class="score-item">
      <span class="label">Moves:</span>
      <span class="value">{{ moves() }}</span>
    </div>
    <div class="score-item">
      <span class="label">Matched:</span>
      <span class="value">{{ matchedPairs() }} / {{ totalPairs() }}</span>
    </div>
    <div class="score-item">
      <span class="label">Time:</span>
      <span class="value">{{ elapsedTime() }} s</span>
    </div>
  </div>